.top{
    padding-top: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
     background-image:url('src/assets/images/caregiver.jpg'); 
    min-height: 100%;
}

label{
    color:black
}

td{
    color:black;
    font-weight: bold;
}

.table{
    padding-top:5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-bar{
    position: absolute;
    top: 12%;
    z-index: 1;
    width: 500px;
    left:31%;
}

.button-position{
    right: 5%;
    position: absolute;
    top:0%
}