<app-navbar></app-navbar>
<div class="row" >
<div class="top col-md-6">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" *ngIf="genderM" src="assets/images/loginIconMale.jpg" alt="Card image cap">
        <img class="card-img-top" *ngIf="!genderM" src="assets/images/loginIconFamale.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">User data</h5>
          <p class="card-text">
              <label>Name:{{patient.nameUser}}</label><br>
              <label>Birthdate:{{patient.birth_date}}</label><br>
              <label>Gender:{{patient.gender}}</label><br>
              <label>Address:{{patient.adress}}</label><br>
              <label>Medical record:{{patient.medical_record}}</label><br> 
          </p>
        </div>
      </div>
    </div>
    <div class="topMedical col-md-6">
        <div class="card large ">
            <div class="card-header">
              Medical Plan
            </div>
            <div class="card-body">
               <h5 class="card-title">Interval:{{patient.medicationPlan.interval}}</h5>
              <h5 class="card-title">NumarZile:{{patient.medicationPlan.numarZile}}</h5>
              <h5 class="card-title">Lista medicamente:</h5> 
                <div class="card-text" *ngFor="let elem of lista">
                    <label>Name:{{elem.name}}</label><br/>
                    <label>Side effect:{{elem.sideEffects}}</label><br/>
                      <label>Dosage:{{elem.dosage}}</label><br/>
                </div>
            </div>
          </div>
    </div>
</div>

